@model PlatformDetailsViewModel

@{
    ViewBag.Title = "Platform Details";
}

<h2>Platform Details</h2>

<h3>@Model.Name</h3>

<p>@Model.Description</p>

<div>
    <p>@Model.Description</p>
    <h3>Games for <strong>@Model.Name</strong>:</h3>
    <ul>
        @foreach (var game in Model.Games)
        {
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">@game.Title</h5>
                        <a asp-controller="Game" asp-action="Details" asp-route-id="@game.Id">
                            <img class="card-img-top" src="@game.ImageUrl" alt="Game image" />
                        </a>
                    </div>
                </div>
            </div>
        }
    </ul>
</div>