@using FrostArc.Services.Contracts
@model UserDetailsViewModel
@inject IUserService userService;
@inject ICommunityService communityService;

@{
    ViewBag.Title = "User Details";
}

<h2>User Profile</h2>
<div class="user-profile">
    <h3>@Model.DisplayName</h3>
    <img src="@Model.ProfilePicture" alt="Profile Picture" style="width:150px;height:150px;" />
    @if (Model.Id == User.GetId())
    {
        <a asp-area="" asp-controller="User" asp-action="ChangePicture" class="btn btn-primary">Change Avatar</a>
    }
    else
    {
        <button asp-controller="User" asp-action="Message" class="btn btn-primary">Send Message</button>
    }
</div>

@if (Model.PostsByCommunity.Any())
{
    <h2>Posts</h2>
    <hr />
    @foreach (var kvp in Model.PostsByCommunity)
    {
        <h3>Posts in <strong>@kvp.Key</strong>:</h3>
        @foreach (var post in kvp.Value)
        {
            @* <div class="post">
                <h3>@post.Title</h3>
                <p>@post.Content</p>
                @if (!string.IsNullOrEmpty(post.ImageUrl))
                {
                    <img src="@post.ImageUrl" alt="Post Image" style="max-width:100%;" />
                }
                <p>Likes: @post.Likes | Dislikes: @post.Dislikes</p>
                <div>
                    <h4>Comments</h4>
                    @foreach (var comment in post.Comments)
                    {
                        UserDetailsViewModel currUser = await userService.GetInfoAsync(comment.UserId);

                        <a asp-area="" asp-controller="User" asp-action="Details" asp-route-id="@currUser.Id">
                            @currUser.DisplayName:
                        </a>
                        <p>@comment.Content</p>
                    }
                </div>
            </div> *@
            PostPartialViewModel partialViewModel = new PostPartialViewModel(post);
            partialViewModel.CommunityId = await this.communityService.GetIdByNameAsync(kvp.Key);

            <partial name="_PostPartial" model=@partialViewModel />
        }
        <hr />
    }
}

@if (Model.Communities.Any())
{
    <h2>Communities</h2>
    <div class="communities">
        @foreach (var community in Model.Communities)
        {
            <div class="community">
                <h3><a asp-controller="Community" asp-action="Details" asp-route-id="@community.Id">@community.Name</a></h3>
                <img src="@community.ImageUrl" alt="@community.Name" style="width:100px;height:100px;" />
            </div>
        }
    </div>
}

<style>
    .user-profile, .post, .community {
        border: 1px solid #ddd;
        padding: 10px;
        margin-bottom: 20px;
    }

        .user-profile img, .community img {
            margin-bottom: 10px;
        }

        .post img {
            max-width: 500px;
            height: auto;
        }
</style>