@using FrostArc.Services.Contracts
@model CommunityDetailsViewModel
@inject ICommunityService communityService

@{
    string userId = User.GetId()!;
    bool isOwner = await communityService.IsUserOwnerAsync(Model.Id, userId);
}

<h2>@Model.Name</h2>
<p>@Model.Description</p>

<h3>Owner: @Model.OwnerName</h3>

<img class="img-thumbnail" src="@Model.ImageUrl" alt="Community Image">

<p>Members: @Model.MembersCount</p>

@if (isOwner)
{
    <div style="margin-top: 20px;">
        <a asp-controller="Community" asp-action="Edit" asp-route-id="@Model.Id.ToString()" class="btn btn-warning">Modify</a>
        <a asp-controller="Gun" asp-action="Delete" asp-route-id="@Model.Id.ToString()" class="btn btn-primary">Members</a>
    </div>
}
else
{
    <a asp-controller="Community" asp-action="Join" asp-route-id="@Model.Id.ToString()" class="btn btn-success">Join</a>
}