@using FrostArc.Services.Contracts;
@model CommunityFeedViewModel;
@inject ICommunityService communityService;

@{
    string userId = User.GetId()!;
    bool isUserOwner = await this.communityService.IsUserOwnerAsync(Model.Id, userId);
}

@Html.AntiForgeryToken()

<h2>@Model.Name</h2>
<p>@Model.Description</p>

<img class="img-thumbnail" src="@Model.ImageUrl" alt="Community Image">

<h3>Owner: @Model.OwnerName</h3>

<p>Members: @Model.MembersCount</p>

@if (Model.Users.Any())
{
    <h3>Users</h3>
    <ul>
        @if (Model.Users.Count > 3)
        {
            @for (int i = 0; i < 3; i++)
            {
                UserAllViewModel currUser = Model.Users[i];
                <li>@currUser.DisplayName</li>
            }
            <li>...</li>
        }
        else
        {
            @foreach (var user in Model.Users)
            {
                <li>@user.DisplayName</li>
            }
        }

        <a class="btn btn-primary" asp-controller="Community" asp-action="Members" asp-route-communityId="@Model.Id">See All</a>
    </ul>
}

@if (Model.Posts.Any())
{
    <h3>Posts</h3>
    @foreach (var post in Model.Posts)
    {
        <div class="card mb-4">
            <div class="card-header">
                <h5><a asp-controller="User" asp-action="Details" asp-route-id="@post.UserId" style="text-decoration: none;">@post.User</a>:</h5>
                <h4 class="card-title">@post.Title</h4>
            </div>
            <div class="card-body">
                @if (!string.IsNullOrEmpty(post.ImageUrl))
                {
                    <img src="@post.ImageUrl" class="card-img-top mb-3" alt="Post Image">
                }
                <p class="card-text">@post.Content</p>
                <div class="d-flex justify-content-between align-items-center">
                    <div>
                        <a data-post-id="@post.Id" data-user-id="@userId" class="btn btn-primary like-btn">👍 @post.Likes</a>
                        <a data-post-id="@post.Id" data-user-id="@userId" class="btn btn-danger dislike-btn">👎 @post.Dislikes</a>
                    </div>
                </div>
            </div>
            @if (post.UserId == User.GetId())
            {
                <div class="mb-3">
                    <a class="btn btn-warning" asp-controller="Post" asp-action="Edit" asp-route-postId="@post.Id">Edit</a>
                    <a class="btn btn-danger" asp-controller="Post" asp-action="Delete" asp-route-postId="@post.Id">Delete</a>
                </div>
            }
            <div class="card-footer">
                <h6>Comments:</h6>
                @foreach (var comment in post.Comments)
                {
                    <ul id="comments-@post.Id.ToString()">
                        <li><strong>@comment.UserId:</strong> @comment.Content</li>
                    </ul>
                }
                <a class="comment-btn btn btn-outline-secondary">Write a Comment</a>
                <div id="comment-section" class="mt-3" style="display:none">
                    <textarea id="comment-field" class="active" rows="5" cols="70" placeholder="What are your thoughts?"></textarea>
                    <button type="submit" class="btn btn-primary submit-comment" data-post-id="@post.Id" data-user-id="@userId">Submit Comment</button>
                </div>
            </div>
        </div>
    }
}

<a asp-controller="Post" asp-action="Create" asp-route-communityId="@Model.Id" class="btn btn-primary">Create Post</a>

<script src="~/js/like-dislike.js"></script>
<script src="~/js/comment.js"></script>